

<%= semantic_form_for "job", do |form| %>
  <%= form.inputs :name => "Desc" do %>
    <% if !options.blank? %>
            <p>hello</p>
      <%= form.input :option_id, :collection => options.collect{ |o| [o.option,o.id]} %>
     <% else %>
            <p>jello</p>
      <%= form.input :option_id, :collection => [] %>
    <% end %>
  <% end %>
<% end %>


