<tr>
  <td class="result">
  <span class="name"><%= link_to result.gi, result_path(result) %></span>
  </td>
  <td class="result">
    <span class="score"><%= result.score %></span>
  </td>
  <td class="result">
    <span class="length"><%= result.length %></span>
  </td>
</tr>