<h1>
Result: <%= @result.gi %>
</h1>
<p>
Definition: <%= @gb_obj.definition %> <br />
Length: <%= @gb_obj.seq.length %> aa<br />
GenPept Link: <%= link_to @gi, "http://www.ncbi.nlm.nih.gov/protein/#{@gi}" %>
  <br />
</p>
