<h1>Demo</h1>
<p><b>1.</b>  Let's start this demo by clicking one of the users:</p>
<a href="/users/1">Brandon Fulk</a>: This is a link to my profile </p>
<p><b>2. </b>  You can then select one of the jobs submitted for this user: </p>
<a href="/jobs/1">gProteins Alpha SVM (demo results)</a>
<br />
<br />
<p><b>3. </b>  In future commits, you will be able to view each result more in depth and be able to reciprocally BLAST the result.  You will also be able to perform phylogenetic analysis using multiple sequence alignments and phylogeny software. </p>
<br />
It would be nice to implement javascript libraries to be able to render the trees in the browser.
<br />
This one in particular utilizes Scalable Vector Graphics: <a href="http://www.jsphylosvg.com">www.jsphylosvg.com</a>
<br />
<br />You can view a demo tree here: <a href="http://www.jsphylosvg.com/examples/7-tree.php">Example tree 1</a>

